@import '../../mixins';
@import '../../variables';

.text-field {
  height: $input-height;
  position: relative;
  $block: &;

  &__label {
    @include color-transitions();
    @include composite-transitions();
    transition: top, 200ms;
    position: absolute;
    left: .9rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: text;
    color: $accent;
  }

  &__input {
    @include color-transitions();
    @include focus();
    padding: .25rem .5rem;
    height: 100%;
    width: 100%;
    border: $control-border;
    border-radius: 0;
    font-size: .85rem;

    &--has-text {
      padding: 1.25rem 0 .25rem .5rem;

      & + #{$block}__label {
        top: .25rem;
        left: .5rem;
        transform: none;
        font-size: .75rem;
        font-weight: 800;
        color: $accent;
        cursor: default;
      }
    }
  }
}
