@import "../../mixins";
@import "../../variables";

.task {
  width: 20rem;

  &__expansion-button {
    @include icon-button(true);
    height: 1.5rem;
    width: 1.5rem;
    margin: 0 0 0 auto;
    &:focus {
      outline: 1px solid red;
    }
  }

  &__info {
    display: flex;
    padding: 1rem;
    align-items: center;
    margin-bottom: .5rem;
    border: $control-border;
    background-color: white;
    transition: 200ms all;

    &:hover {
      box-shadow: $medium-box-shadow;
      cursor: pointer;

      .status {
        &::after {
          background-color: $accent-hover;
        }
      }
    }

    > .task__expansion-button > .icon > .icon__glyph {
      &--activated {
        @include icon-rotate(90deg);
      }

      &--deactivated {
        @include icon-rotate(0);
      }
    }
  }

  &__related-tasks {
    margin-left: 1rem;
  }

  &__status {
    padding: 0;
    margin: 0;
    position: relative;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    overflow: hidden;
    height: 25px !important;
    width: 25px !important;
    border: $control-border;
    border-radius: 50%;
    transition: 200ms all;

    &::after {
      position: absolute;
      background-color: white;
      border: 1px solid transparent;
      content: " ";
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      transition: 200ms all;
      font-family: 'Font Awesome 5 Free', serif;
      font-weight: 900;
      color: white;
    }

    &:checked::after {
      background-color: $accent;
      content: '\f00c';
    }
  }

  &__title {
    margin: 0 0 0 .5rem;
  }

  &--done {
    .task__title {
      text-decoration: line-through;
      color: gray;
    }
  }
}
