@import "../../mixins";
@import "../../variables";

.task {
  width: 20rem;

  &__expansion-indicator {
    height: 1.5rem;
    width: 1.5rem;
    margin: 0 0 0 auto;

    &--activated {
      .icon__glyph {
        @include icon-rotate(90deg);
      }
    }

    &--deactivated {
      .icon__glyph {
        @include icon-rotate(0);
      }
    }
  }

  &__info {
    display: flex;
    padding: 1rem;
    align-items: center;
    margin-bottom: .5rem;
    border: $control-border;
    background-color: white;
    transition: 200ms all;

    &--has-tasks:hover {
      box-shadow: $medium-box-shadow;
      cursor: pointer;
    }
  }

  &__related-tasks {
    margin-left: 1rem;
  }

  &__status {
    @include choice-box();
    border-radius: 50%;
  }

  &__title {
    margin: 0 0 0 .5rem;
  }

  &--done {
    .task__title {
      text-decoration: line-through;
      color: gray;
    }
  }
}
