@import "../../mixins";
@import "../../variables";

.task-list__related-tasks {
  > .task-list {
    margin-left: 1rem;
  }
}

.task-list-enter {
  @include composite-transitions();
  opacity: 0;
}

.task-list-enter.task-list-enter-active {
  opacity: 1;
}

.task-list-exit {
  @include composite-transitions();
  opacity: 1;
}

.task-list-exit.task-list-exit-active {
  opacity: 0;
}

.task-item {
  display: flex;
  width: 30rem;
  height: 3.5rem;
  margin-bottom: .5rem;
  flex-direction: column;
  border: $control-border;
  background-color: white;
  position: relative;
  transition: $color-transition-time box-shadow;
  $parent: &;

  &--done {
    #{$parent}__title {
      text-decoration: line-through;
      color: gray;
    }
  }

  &--has-related-tasks:hover {
    box-shadow: $medium-box-shadow;
    cursor: pointer;
  }

  &__info {
    display: flex;
    flex-grow: 1;
    padding: .25rem;
    align-items: center;
  }

  &__expansion-indicator {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
    height: 1.5rem;
    width: 1.5rem;

    &--activated {
      .icon__glyph {
        @include icon-rotate(180deg);
      }
    }

    &--deactivated {
      .icon__glyph {
        @include icon-rotate(0);
      }
    }
  }

  &__status {
    @include choice-box();
    border-radius: 50%;
  }

  &__title {
    margin: 0 0 0 .5rem;
  }

  &__toolbar {
    margin: 0 0 0 auto;
  }

  &__progress {
    width: 100%;
  }
}
