@mixin icon-rotate($angle) {
  transform: rotate($angle);
  transition: 150ms transform;
}

.item {
  width: 20rem;

  &__info {
    display: flex;
    padding: 1rem;
    margin-bottom: .5rem;
    border: 1px solid rgb(230, 230, 230);
    background-color: white;
    transition: 200ms all;

    &:hover {
      box-shadow: 0 3px 7px #cccccc;
      cursor: pointer;
    }

    > .icon > .icon__glyph {
      &--activated {
        @include icon-rotate(90deg);
      }

      &--deactivated {
        @include icon-rotate(0);
      }
    }
  }

  &__related-tasks {
    margin-left: 1rem;
  }
}
