.task-list {
}

@mixin icon-rotate-animation($startAngle, $endAngle) {
  $name: unique_id() !global;
  animation-name: $name;
  animation-duration: 150ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  @keyframes #{$name} {
    0% {
      transform: rotate($startAngle)
    }
    100% {
      transform: rotate($endAngle)
    }
  }
}

.item {
  &__info {
    display: flex;
    width: 20rem;
    padding: 1rem;
    margin-bottom: .5rem;
    border: 1px solid rgb(230, 230, 230);
    background-color: white;
    transition: 200ms all;

    &:hover {
      box-shadow: 0 3px 7px #cccccc;
      cursor: pointer;
    }
  }


  &__related-tasks {
    margin-left: 1rem;
  }
}

.info {
  & > &__icon {
    margin-left: auto;

    &:hover {
      background-color: red;
    }

    &--expanded {
      @include icon-rotate-animation(0, 90deg);
    }

    &--shrank {
      @include icon-rotate-animation(90deg, 0);
    }
  }
}
