@import '../../variables';
@import '../../mixins';

.register {
  flex-direction: column;
  display: flex;
  padding: 1rem;

  .field + .field {
    margin-top: .5rem;
  }

  .register-button {
    @include color-transitions();
    margin-top: 1rem;
    height: $input-height;
  }
}