@import "./variables";
@import "./mixins";
//global styles

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
}

code {
  font-family: source-code-pro, Consolas, 'Courier New', monospace;
}

#root {
  background-color: #fdfdfd;
  min-height: 100vh;
}

input, select, textarea, button {
  font-family: inherit;
}

.button {
  @include focus();
  border: $accent-border;
  border-radius: 0;
  padding: .4rem .75rem;

  &--primary {
    background-color: $accent;
    color: white;

    &:hover {
      background-color: $accent-hover;
    }

    &:active {
      background-color: $accent-active;
    }
  }
}
