$accent: #ee5184;
$accent-hover: lighten($accent, 10%);
$accent-active: darken($accent, 10%);
$control-border-color: rgb(223, 223, 223);
$control-border: 1px solid $control-border-color;
$accent-border: 1px solid lighten($accent, 20%);
$input-height: 48px;
$medium-box-shadow: 0 3px 7px #cccccc;
$color-transition-time: 200ms;
$composition-transition-time: 300ms;
