//global styles

* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', 'Roboto', 'Helvetica', sans-serif;
}

code {
  font-family: source-code-pro, Consolas, 'Courier New', monospace;
}

//reset
body, p, label, figure, input {
  margin: 0;
}

#root {
  background-color: #fefefe;
  min-height: 100vh;
}
