@import "../../variables";
@import "../../mixins";

.navigation-bar {
  width: 100%;
  height: 3rem;
  position: sticky;
  top: 0;
  display: flex;
  z-index: 10;
  background-color: white;
  box-shadow: $medium-box-shadow;

  &__brand, &__link {
    @include color-transitions();
    display: flex;
    align-items: center;
    padding: 0 1rem;
    text-decoration: none;
    color: #3c3c3c;
  }

  &__brand {
    margin-right: auto;
    font-weight: bold;

    &:hover {
      color: lighten(#3c3c3c, 20%);
    }
  }

  &__link {
    &--active {
      background-color: $accent;
      color: white;
    }

    &:hover {
      background-color: $accent-hover;
      color: white;
    }

    &:active {
      background-color: $accent-active;
      color: white;
    }
  }
}
